<footer class="container-footer">

    <div class="footer-row">
        <div class="container-newsletter">
        <h2>Suscribete a la Newsletter de Cosmetics</h2>
        <p class="p-newsletter">Mantente al día sobre los nuevos lanzamientos, eventos y mucho más.
            No compartiremos tus datos con terceros y puedes darte de baja en cualquier momento.
            Para mas información, consulta nuestra <span class="span-link">política de privacidad</span> y las 
            <span class="span-link">condiciones generales</span> de venta.
        </p>
        <form [formGroup]="contactForm" class="input-footer" novalidate (submit)="enviar($event)">
            <div class="input-row">
              <input 
                type="email"
                class="input-mail" 
                placeholder="Dirección de correo electrónico"
                formControlName="email"
                [ngClass]="{'is-invalid' : hasErrors('email', 'required') || hasErrors('email', 'email')}"
              >
              <button class="btn-mail" type="submit" [disabled]="!contactForm.valid">
                <img src="assets/icons/icon-arrow.png" alt="Enviar">
              </button>
            </div>

            <div class="texterror-padding">
             <div>
                <span *ngIf="formSubmitted" class="text-submited">¡Enviado satisfactoriamente!</span>
             </div>
             <div *ngIf="!isFieldEmpty('email') && hasErrors('email', 'email') && !contactForm.valid" class="text-danger">
                Formato de correo inválido
              </div> 
            </div>
         
          </form>
    </div>

    <div class="container-service">
        <h3>Servicio de atención al cliente</h3>

        <li>Contáctanos</li>
        <li>información sobre la entrega</li>
        <li>Condiciones de venta</li>
        <li>Cambios y devoluciones</li>
        <li>Política de privacidad</li>
        <li>Política de cookies</li>
        <li>Aviso Legal</li>
        <li>Configuración de cookies</li>
    </div>

    <div class="container-cosmetics">
        <h3>Somos Cosmetics</h3>

        <li>Nuestro compromiso</li>
        <li>Nuestro programa de reciclaje</li>
        <li>Eventos en tienda</li>
        <li>Live Shopping</li>
        <li>Nuestra política de frescura</li>
        <li>Cosmetics App</li>
    </div>
    </div>
    

    <div class="footer-row">
        <div class="container-copyrigth">
        <hr>
        <img src="assets/icons/icon-spain.png">
        <p class="lang">Spain · Español · €</p>
        <p class="copyright">{{ null | pipeCopyright }}</p>
    </div>

    </div>
    
</footer>
