<footer class="container-footer">

  <div class="icons-footer">
    <div class="icon-black-footer">
      <img src="assets/footer/hand-washing.png">
      <p>{{"FOOTER.icon-hand" | translate}}</p>
    </div>

    <div class="icon-black-footer">
      <img src="assets/footer/lavender.png">
      <p>{{"FOOTER.icon-lavender" | translate}}</p>
    </div>

    <div class="icon-black-footer">
      <img src="assets/footer/non-toxic.png">
      <p>{{"FOOTER.icon-non-toxic" | translate}}</p>
    </div>

    <div class="icon-black-footer">
      <img src="assets/footer/paw.png">
      <p>{{"FOOTER.icon-paw" | translate}}</p>
    </div>

    <div class="icon-black-footer">
      <img src="assets/footer/recycle.png">
      <p>{{"FOOTER.icon-recycle" | translate}}</p>
    </div>

    <div class="icon-black-footer">
      <img src="assets/footer/vegan.png">
      <p>{{"FOOTER.icon-vegan" | translate}}</p>
    </div>
  </div>

    <div class="footer-row">
        <div class="container-newsletter">
        <h2>{{"FOOTER.title-newsletter" | translate}}</h2>
        <p class="p-newsletter" [innerHTML]="'FOOTER.text-newsletter' | translate"></p>
        <form [formGroup]="contactForm" class="input-footer" novalidate (submit)="enviar($event)">
            <div class="input-row">
              <input 
                type="email"
                class="input-mail" 
                [attr.placeholder]="'FOOTER.placeholder-email' | translate"
                formControlName="email"
                [ngClass]="{'is-invalid' : hasErrors('email', 'required') || hasErrors('email', 'email')}"
              >
              <button class="btn-mail" type="submit" [disabled]="!contactForm.valid">
                <img src="assets/icons/icon-arrow.png" alt="Enviar">
              </button>
            </div>

            <div class="texterror-padding">
             <div>
                <span *ngIf="formSubmitted" class="text-submited">{{ 'FOOTER.text-submitted' | translate }}</span>
             </div>
             <div *ngIf="!isFieldEmpty('email') && hasErrors('email', 'email') && !contactForm.valid" class="text-danger">
              {{ 'FOOTER.invalid-email' | translate }}
              </div> 
            </div>
         
          </form>
    </div>

    <div class="container-service">
        <h3>{{"FOOTER.title-service" | translate}}</h3>

        <li>{{"FOOTER.li-contact" | translate}}</li>
        <li>{{"FOOTER.li-information" | translate}}</li>
        <li>{{"FOOTER.li-conditions" | translate}}</li>
        <li>{{"FOOTER.li-changes" | translate}}</li>
        <li>{{"FOOTER.li-privacy" | translate}}</li>
        <li>{{"FOOTER.li-cookies" | translate}}</li>
        <li>{{"FOOTER.li-legal" | translate}}</li>
        <li>{{"FOOTER.li-confi-cookies" | translate}}</li>
    </div>

    <div class="container-cosmetics">
        <h3>{{"FOOTER.title-are" | translate}}</h3>

        <li>{{"FOOTER.li-commitment" | translate}}</li>
        <li>{{"FOOTER.li-recycle" | translate}}</li>
        <li>{{"FOOTER.li-store-event" | translate}}</li>
        <li>{{"FOOTER.li-live" | translate}}</li>
        <li>{{"FOOTER.li-freshness" | translate}}</li>
        <li>{{"FOOTER.li-app" | translate}}</li>
    </div>
    </div>
    

    <div class="footer-row">
        <div class="container-copyrigth">
        <hr>
        <button class="btn-spain" (click)="toggleLanguage()">
          <img [src]="iconSrc" alt="Icono de idioma" class="lang-spain">
        </button>
        <p class="lang">{{"FOOTER.lang-price" | translate}}</p>
        <p class="copyright">{{ null | pipeCopyright }}</p>
    </div>

    </div>
    
</footer>
