/* Icons footer */
.icons-footer {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  padding-top: 10%;
  padding-bottom: 10%;

  .icon-black-footer {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .icon-black-footer img {
    width: 80px;
    height: 80px;
    cursor: auto;
  }

  .icon-black-footer p {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    width: 85%;
    padding: 5px;
  }
}

/* Container footer */

.container-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  background-color: #000;
  color: #ffff;
}

.container-newsletter {
  width: 60%;
  text-wrap: pretty;
}

.container-newsletter,
.container-service,
.container-cosmetics {
  font-size: 16px;
}

.container-service,
.container-cosmetics {
  margin-left: auto;
  width: 20%;
}

.container-service {
  margin-right: 40px;
}

/* Input mail */

.input-footer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 70%;

    .input-mail {
      flex: 1;
      padding: 10px;
      font-size: 12px;
      color: #fff;
      background-color: #333;
      border: 1px solid #333;
      outline: none;
      border-radius: 0;
      box-sizing: border-box;
    }

    .btn-mail {
      padding: 10px;
      background-color: #333;
      border: 3px solid #333;
      color: white;
      cursor: pointer;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      box-sizing: border-box;

      img {
        width: 15px;
        height: 15px;
      }
    }
  }
  .texterror-padding {
    padding-bottom: 5px;
    position: relative;
    min-height: 20px;
  }

  .text-danger,
  .text-submited {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    margin-top: 5px;
  }

  .text-submited {
    color: lightgreen;
  }
}

/* Texts */
h2 {
  width: 35%;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
}

li {
  list-style: none;
  cursor: pointer;
  &:hover {
    color: #cbf3ee;
  }
}

.container-copyrigth {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.footer-row {
  display: flex;
  flex-direction: row;
  padding: 40px;
  border-top: 1px solid #333;
}

.copyright {
  margin-left: auto;
}

img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.lang {
  margin-left: 20px;
  margin-top: 4px;
}

/* Responsive */
@media (max-width: 1000px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

    .container-newsletter,
    .container-service,
    .container-cosmetics {
      width: 100%;
      margin: 10px 0;
    }

    .input-footer {
      flex-direction: column;
      align-items: center;

      .input-mail {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    h2 {
      width: 100%;
    }

    .p-newsletter {
      width: 100%;
    }
  }

  .container-copyrigth {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;

    .container-newsletter,
    .container-service,
    .container-cosmetics {
      width: 100%;
      margin: 10px 0;
    }

    .input-footer {
      flex-direction: column;
      align-items: center;

      .input-mail {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    h2 {
      width: 100%;
    }

    .p-newsletter {
      width: 100%;
    }
  }

  .container-copyrigth {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .icons-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .icon-black-footer {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .icon-black-footer {
    width: 100%;
  }
}
