<div class="cover-image">
    <img src="assets/img-pages/img-body.jpg" alt="Crema corporal">
    <h1>Cuerpo</h1>
</div>

<div class="text-description-page">
  <p>
    Nuestros productos corporales están <span class="text-weight">enriquecidos con mantecas</span> y <span class="text-weight">aceites naturales</span> como el cacao y la lavanda. 
    Cada crema, loción y exfoliante está formulado para nutrir y suavizar la piel, <span class="text-weight">sin productos químicos agresivos</span>. 
    Disfruta de una piel saludable y radiante con nuestros tratamientos corporales naturales.
  </p>
</div>

<div class="section-select">
  <div class="card-group">
      <div class="card" *ngFor="let product of products">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>{{ product.price }}</strong></p>
          <button type="button" class="btn-skin">Comprar</button>
        </div>
      </div>
  </div>
</div>
