.cover-image {
  position: relative;
  width: 100%;
  height: 400px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      text-transform: uppercase;
      text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
      color: #fff;
      font-weight: 800;
      font-size: 80px;
    }
  }
}

.text-description-page {
  width: 65%;
  padding: 30px;
  font-size: 15px;
}

.text-weight {
  font-weight: 700;
}

/* Cards products */
.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;

  > app-product-card {
    flex: 1 1 400px; /* Crecer, encogerse, tamaño base */
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 0;
  }
}

/* Media query for responsiveness */
@media (max-width: 992px) {
  .card-group app-product-card {
    flex: 0 0 calc(50% - 30px);
  }
}

@media (max-width: 576px) {
  .card-group app-product-card {
    flex: 0 0 calc(100% - 30px);
  }
}
