.cover-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

/* Cards products */

.section-select {
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;

    .card {
      flex: 0 0 calc(33.33% - 30px); /* Ajusta para que quepan tres tarjetas por fila */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.2s;
      margin: 10px;

      &:hover {
        transform: scale(1.05);
      }

      .card-img-top {
        width: 100%;
        height: auto;
      }

      .card-body {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card-title {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .card-text {
          font-size: 14px;
          margin-bottom: 10px;
          text-align: center;
        }

        .btn-skin {
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 5px 10px;
          margin-top: auto;
          background-color: #cbf3ee;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #feacae; /* o este #b2e4d8 */
          }
        }
      }
    }
  }
}

/* Media query for responsiveness */
@media (max-width: 992px) {
  .section-select .card-group .card {
    flex: 0 0 calc(50% - 30px); /* Ajusta para que quepan dos tarjetas por fila */
  }
}

@media (max-width: 576px) {
  .section-select .card-group .card {
    flex: 0 0 calc(100% - 30px); /* Ajusta para que quepa una tarjeta por fila */
  }
}
