<div class="cover-image">
    <img src="assets/img-pages/img-facial.jpg" alt="Producto crema facial">
    <h1>Facial</h1>
</div>

<div class="text-description-page">
  <p>
Nuestros productos faciales están formulados con ingredientes naturales, <span class="text-weight">libres de sulfatos</span> y <span class="text-weight">parabenos</span>. 
Cada crema y mascarilla está diseñada para proporcionar <span class="text-weight">hidratación profunda</span> y <span class="text-weight">equilibrar tu piel</span>. 
Con extractos de plantas como el aloe vera y el árbol de té, garantizamos un cuidado suave y efectivo para todos los tipos de piel.
  </p>
</div>

<div class="section-select">
  <div class="card-group">
      <div class="card" *ngFor="let product of products">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>{{ product.price }}</strong></p>
          <button type="button" class="btn-skin">Comprar</button>
        </div>
      </div>
  </div>
</div>



  
