<div class="cover-image">
    <img src="assets/img-pages/img-hair.jpg" alt="Champu para el cabello">
    <div class="cover-text">
      <h1>{{"HAIR.title-page" | translate}}</h1>
    </div>
  
</div>

<div class="text-description-page">
  <p [innerHTML]="'HAIR.description-page' | translate"></p>
</div>

<div class="section-select">
  <div class="card-group">
      <div class="card" *ngFor="let product of products">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>{{ product.price }}</strong></p>
          <button type="button" class="btn-skin">{{"HAIR.btn-skin" | translate}}</button>
        </div>
      </div>
  </div>
</div>
