<div class="cover-image">
    <img src="assets/img-pages/img-hair.jpg" alt="Champu para el cabello">
    <h1>Cabello</h1>
</div>

<div class="text-description-page">
  <p>
    Descubre nuestra gama de productos capilares, <span class="text-weight">libres de sulfatos</span> y llenos de <span class="text-weight">nutrientes esenciales</span>. 
    Desde champús hasta serums, nuestros productos contienen ingredientes naturales como aceite de argán, menta y queratina. 
    Diseñados para <span class="text-weight">hidratar</span>, <span class="text-weight">fortalecer</span> y <span class="text-weight">revitalizar tu cabello</span>, dejándolo suave y manejable.
  </p>
</div>

<div class="section-select">
  <div class="card-group">
      <div class="card" *ngFor="let product of products">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>{{ product.price }}</strong></p>
          <button type="button" class="btn-skin">Comprar</button>
        </div>
      </div>
  </div>
</div>
