
  <div class="free-shipping">
    <span>{{'APPCOMPONENT.text-shipping' | translate }}</span>
    <img src="assets/icons/icon-packing-black.gif" alt="Icono de envío gratuito" class="shipping-icon">
  </div>


<div class="title-section">
  <h1 class="title">
    <a routerLink="home" (click)="navBar('home')">{{'APPCOMPONENT.title-home' | translate }}</a>
  </h1>

  <div id='search-box'>
    <form id='search-form' (ngSubmit)="onSearch()">
      <input id='search-text' name='q' type='text' [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" [translatePlaceholder]="'APPCOMPONENT.placeholder'" />
      <button id='search-button' type='submit'><span>{{"APPCOMPONENT.btn-search" | translate }}</span></button>
    </form>
  </div>
  

<div class="icons-section">
  <button class="btn-spain" (click)="toggleLanguage()">
    <img [src]="iconSrc" alt="Icono de idioma" class="lang-spain">
  </button>

  <button (click)="isExpanded = !isExpanded" class="btn-shopping dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="assets/icons/icon-bag.png" alt="Icono de compra" class="icon-shopping">
  </button>
  <div class="dropdown-menu" [ngClass]="{'show': isExpanded}">
    <div class="cart-item" *ngFor="let product of products">
      <img [src]="product.imageUrl" />  {{ product.name }} - {{ product.price }} - x{{product.count}} 
      <button (click)="delete(product.id)">
        <img src="assets/icons/icon-trash.png" alt="Icono de basura" class="icon-trash">
      </button>
    </div>
    <div class="total-price">
      <p><span> Total : </span><span>{{totalCartPrice | currency}}</span></p>
      <div class="btn-buy">
        <button type="button">Comprar</button>
      </div>
    </div>
  </div>
</div>




<nav class="nav-home">
  <button (click)="isMobileMenuExpanded = !isMobileMenuExpanded" > 
    <img class="icon-hamburguer" src="assets/icons/hamburguer.png">
  </button>
<ul *ngIf="isMobileMenuExpanded || !isMobile">
  <li> 
    <a routerLink="home" (click)="navBar('home')">{{"APPCOMPONENT.text-page-home" | translate}}</a>
  </li>
  <li>
    <a routerLink="face" (click)="navBar('face')">{{"APPCOMPONENT.text-page-skin" | translate}}</a>
  </li>
  <li>
    <a routerLink="hair" (click)="navBar('hair')">{{"APPCOMPONENT.text-page-hair" | translate}}</a>
  </li>
  <li>
    <a routerLink="body" (click)="navBar('body')">{{"APPCOMPONENT.text-page-body" | translate}}</a>
  </li>
  <li>
    <a routerLink="bathroom" (click)="navBar('bathroom')">{{"APPCOMPONENT.text-page-bathroom" | translate}}</a>
  </li>
</ul>
</nav>

</div>

<router-outlet />
<app-footer/>